<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Machine Learning</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container text-center">
        <h1 class="text-center">Select Parameters</h1>
        <form action="calculate_algo" method="POST">
            {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <h3>Select Training Set Size</h3>
                <input type="number" name="training_size" id ="Size" min=50 max=100>
            </div>
            <div class="col-md-4">
                <h3>Random State</h3>
                <input type="number" name="random_state" min=0>
            </div>
            <div class="col-md-4">
                <h3>Fit Intercept</h3>
                <select name="fit_intercept">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
        </div>
        <div class="d-flex justify-content-center row" style="margin-top: 20px;">
                <input type="submit" class="btn btn-primary" id = "slct-btn" value="Proceed"></a>
        </div>
        </form>
    </div>
</body>
</html>